.classSelector{
    .heading{
        color: #393f4c;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 12px;
    }

    .subHeading{
        color: #494c53;
        font-size: 16px;
        font-weight: 400;
        margin: 5px 0;
    }

    .select{
        width:200px
    }
    p{
        font-size: 10px;
        margin: 5px 0;
        color: #c6c7c9;
    }
}