.top .heading{
    color: #242a38;
    margin: 15px;
    margin-left: 35px;
}

.top .subHeading{
    color: #494c53;
    font-size: 16px;
    font-weight: 400;
    margin: 20px ;
    margin-left: 35px;
}

.bottom{
    width: 90vw;
    margin: 10px auto;
    margin-top: 30px;
}

.feeStructureSection{
    display: flex;
    justify-content: space-between;
}